body{
    background: rgba(158, 190, 238, 0.534);
}

#title{
    text-align: center;
}

#description{
    text-align: center;
}


#outer-layer{
    text-align: center;
    background: rgb(241, 237, 237);
    padding: 0 50px;
    width:60%;
    margin:0 auto;
}

label{
    display: inline-block;
    margin-top: 10px;
    width:10%;
    text-align: right;
}


#select-school{
    display: inline-flex;
    margin-top: 10px;
    width:20%;
    text-align: left;
}

.input-field{
    height: 20px;
    width: 280px;
    padding: 5px;
    margin: 10px;
    border: 1px;
}

.radio-group{
    text-align: left;
    padding-left: 160px;
    margin-top: 20px;
}

ul {
    list-style-type: none;
    margin-top: 20px;
  }

ul li{
    width:20%;
    display: inline-block;
    text-align: left;
}